*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gitignore

.idea/
gradle/
gradlew
gradlew.bat
app/app.iml
app/build
app/app-release.apk
app/release/
app/src/androidTest/java/org/digicraft/profiles/ExampleInstrumentedTest.java
app/src/test/java/org/digicraft/profiles/ExampleUnitTest.java
app/google-services.json
google-services.json
